<form action="/music/seach" method="GET">
  <label for="station">平台 : </label>
  <input type="radio" name="s" id="station" value="netease" checked>网易云音乐</input>
  <input type="radio" name="s" id="station" value="qq">QQ音乐</input>
  <label for="seach">关键词 : </label><input type="text" id="seach" name="w">
</form>